<h1>New Duck From</h1>

<%= form_for(@duck) do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :student_id %>
<%= f.number_field :student_id%>

<%= f.submit %>
<% end %>
